<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .completed {
            text-decoration: line-through;
        }

        li {
            list-style: none;
        }
    </style>

</head>

<body>
    <h1>TODO APPLICATION</h1>
    <form action="/add-todo" method="post">
        <input type="text" name="todo" placeholder="Enter todo">
        <button type="submit">Add</button>
    </form>

    <% items.forEach((element,index) =>{%>
    <!-- <li><%= element  %><button formaction="/remove-todo" name="delete" value="<% index %>"
                type="submit">Remove</button></li> -->

    <li>
        <form action="/complete" method="POST">
            <input type="hidden" name="complete" id="" value="<%= index %>">
            <input type="checkbox" onchange="this.form.submit()" <% if (element.completed) { %> checked <% }  %>>

            <span class=" <%= element.completed ? 'completed' : '' %>"><%= element.task %></span>
        </form>
    </li>
    <%}) %>

</body>

</html>